{% extends 'home.html' %}
{% block content %}
{% block title %}
<Biseccion>
{% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
        
        .title-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffe5b4;
            border: 1px solid #ddd;
            border-radius: 15px;
            padding: 10px;
            margin-bottom: 20px;
        }

        .title {
            font-size: 32px;
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
            text-align: center;
        }

        .subtitle {
            font-size: 15px;
            text-align: center;
        }
    </style>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>
<body>
    <div class="title-container">
        <h1 class="title text-gray-900 display-4">Método de bisección</h1>
    </div>

    <div class="subtitle text-gray-700 display-6">
        <p>El método de bisección es un algoritmo de búsqueda de raíces que trabaja dividiendo el intervalo a la mitad y seleccionando el subintervalo que tiene la raíz.<br> Esto se logra llevar a cabo a través de varias interaciones que son aplicadas en un intervalo para por medio de ello encontrar la raíz de la función. </p>
        <p>Recuerda usar la <strong> SINTAXIS DE MATLAB</strong> para rellenar los campos. </p>
        <p>Asegurate de que \( f \) es una función continua en el intervalo \([a, b]\).</p>
    </div>
    <br>

    <div class="container-fluid col-md-6">

        <br>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="func" class="form-control" placeholder="Función">
            <br>
            <input step="any" type="number" name="xi" class="form-control" placeholder="a">
            <br>
            <input step="any" type="number" name="xs" class="form-control" placeholder="b">
            <br>
            <input type="text" name="tol" class="form-control" placeholder="Tolerancia">
            <br>
            <input type="number" name="iteraciones" class="form-control" placeholder="Iteraciones">
            <br>
            <p class="subtitle text-gray-700 display-6">El tipo de error está dado por 0 para error absoluto y 1 para error relativo. Ingrese el que corresponda, al ingresar un valor invalido por defecto se tomará el error absoluto</p>
            <input type="number"  name="error" class="form-control" placeholder="Tipo de error">
            <br>
            <input type="submit" value="Ejecutar" class="btn btn-primary mt-3">
        </form>


    </div>

    <div class="container md-6">
    
        {% if biseccion_model %}
            <h2>Resultado</h2>
            {% if "Error" not in biseccion_model.resultado %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Iteration</th>
                        <th>a</th>
                        <th>xi</th>
                        <th>b</th>
                        <th>f(xi)</th>
                        <th>Error</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ row.Iteration }}</td>
                        <td>{{ row.a }}</td>
                        <td>{{ row.xi}}</td>
                        <td>{{ row.b }}</td>
                        <td>{{ row.fxi }}</td>
                        <td>{{ row.Error }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

            <div class="row mt-4">
                <div class="col-md-6">
                    <b>{{ biseccion_model }}</b>
                    <br>
                    <b>{{ biseccion_model.resultado }}</b>
                </div>
                {% if "Error" not in biseccion_model.resultado %}
                <div class="col-md 6">
                    <h5>Grafica de la funcion {{ biseccion_model.func }}</h5>
                    <img src="/media/grafica_biseccion.png" class="img-thumbnail rounded float-end" alt="Imagen">
                </div>
            {% endif %}
            </div>



    </div>

    {% endif %}
{% endblock %}
</body>
</html>



