{% extends 'home.html' %}

{% block title %}Biseccion{% endblock %}

{% block content %}
    <h1>Metodo de Biseccion</h1>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="func" class="form-control" placeholder="Función">
        <br>
        <input type="number" name="xi" class="form-control" placeholder="a">
        <br>
        <input type="number" name="xs" class="form-control" placeholder="b">
        <br>
        <input type="text" name="tol" class="form-control" placeholder="Tolerancia">
        <br>
        <input type="number" name="iteraciones" class="form-control" placeholder="Iteraciones">
        <br>
        <input type="submit" value="Ejecutar" class="btn btn-primary mt-3">
    </form>

    {% if biseccion_model %}
        <h2>Resultado</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Iteration</th>
                    <th>a</th>
                    <th>xi</th>
                    <th>b</th>
                    <th>f(xi)</th>
                    <th>Error</th>
                </tr>
            </thead>
            <tbody>
                {% for row in tabla %}
                <tr>
                    <td>{{ row.Iteration }}</td>
                    <td>{{ row.a }}</td>
                    <td>{{ row.xi }}</td>
                    <td>{{ row.b }}</td>
                    <td>{{ row.f }}</td>
                    <td>{{ row.Error }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
