{% extends 'home.html' %}
{% load static %}
{% block content %}
{% block title %}
<Newton1>
{% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
        
        .title-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffe5b4;
            border: 1px solid #ddd;
            border-radius: 15px;
            padding: 10px;
            margin-bottom: 20px;
        }

        .title {
            font-size: 32px;
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
            text-align: center;
        }

        .subtitle {
            font-size: 15px;
            text-align: center;
        }
    </style>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
</head>
<body>
    <div class="title-container">
        <h1 class="title text-gray-900 display-4">Método de Newton</h1>
    </div>

    <div class="subtitle text-gray-700 display-6">
        se ingresa la función, el valor inicial (x0), la tolerancia del error (Tol) y el máximo número de iteraciones... </div>
    <br>
    <div class="subtitle text-gray-700 display-6">
        Se tiene el punto incial x0, hace una linea tangente ahi y esta linea corta al eje x se vuelve el x1, y sigue haciendo lo mismo </div>
    <br>
    <div class="subtitle text-gray-700 display-6">
        <b>Para tener en cuenta:</b> f tiene que ser derivable y la derivada tiene que ser diferente de 0 (cero), y no debe calcular cerca de minimos y maximos locales puesto que no permitira converger el metodo </div>
        <br>
    <div class="subtitle text-gray-700 display-6">
        <b>Para copiar la funcion debes: </b> <b>*</b> para exponentes utilizar <b>^</b>, <b>*</b> para euler copiar <b>'exp(1)'</b>, <b>*</b> para el logaritmo natural copiar <b>'log()'</b>, <b>*</b> para valor absoluto copiar <b>'abs()'</b>   </div>
    <div class="container-fluid col-md-6">

        <br>
        <form  action="{% url 'newton1' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="funcion" class="form-label">Función es f(x)</label>
                <input type="text" class="form-control" id="funcion" name="funcion" aria-describedby="info" required>
                
            </div>
            <div class="mb-3">
                <label for="x0" class="form-label">Valor inicial (x0)</label>
                <input type="text" class="form-control" id="x0" name="x0" required>
            </div>
            <div class="mb-3">
                <label for="tolerancia" class="form-label">Tolerancia</label>
                <input type="text" class="form-control" id="tolerancia" name="tolerancia" required>
            </div>
            <div class="mb-3">
                <label for="tipoError" class="form-label">Tipo de error</label>
                <input type="number" class="form-control" id="tipoError" name="tipoError" required>
            </div>
            <div class="mb-3">
                <label for="niter" class="form-label">Cantidad máxima de iteraciones</label>
                <input type="text" class="form-control" id="niter" name="niter" required>
            </div>
            <div class="text-center">
                <button id="calculateBtn" type="submit" class="btn btn-primary">Calcular</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="card" style="margin: 2em;">
                
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="card" style="margin:2em;">

                <h2 style="margin:0.5em;">Gráfica</h2>
                <div class="w-100" style="height: 2px; background-color: rgba(210, 210, 210);"></div>
                {% if graph %}
                <div class="card mx-auto" style="height: 60%; width: 60%; margin:1em;">
                    <div class="card-body">
                        {% block function_image %}
                        <img class="w-100 h-100 object-fit-scale" alt="Gráfica de la función" src="{% static 'images/newton.png' %}">

                        {% endblock %}
                    </div>
                </div>
                {% endif %}

                <h2 style="margin:0.5em;">Tabla de iteraciones</h2>
                <div class="w-100" style="height: 2px; background-color: rgba(210, 210, 210);"></div>
                {% if table %}
                <div class="card" style="margin:1em;">
                    <div class="card-body">
                        <table class="table table-bordered text-center m-0">
                            <thead>
                                <tr>
                                    {% for i in title %}
                                        <th scope="col">{{i}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for info in table %}
                                    <tr>
                                        {% for d in info %}
                                        <td>{{d}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}

                <h2 style="margin:0.5em;">Solución</h2>
                <div class="w-100" style="height: 2px; background-color: rgba(210, 210, 210);"></div>
                {% if sol %}
                <div class="card" style="margin:1em;">
                    <div class="card-body">
                        <p class="card-text">{{sol}}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>




    </div>
    

{% endblock %}
</body>
</html>



