{% extends 'home.html' %}

{% block content %}
{% block title %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
        
        .title-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffe5b4;
            border: 1px solid #ddd;
            border-radius: 15px;
            padding: 10px;
            margin-bottom: 20px;
        }

        .title {
            font-size: 32px;
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
            text-align: center;
        }

        .subtitle {
            font-size: 15px;
            text-align: center;
        }   
    </style>
    <div class="title-container">
        <h1 class="title text-gray-900 display-4">Método de Punto Fijo</h1>
    </div>
{% endblock %}
    <div class="subtitle text-gray-700 display-6">
        El método del punto fijo es un método iterativo que permite resolver sistemas de ecuaciones no necesariamente lineales. 
        <br>
        En particular se puede utilizar para determinar raíces de una función de la forma f(x), siempre y cuando se cumplan los criterios de convergencia. </div>
    <br>

    <div class="container-fluid col-md-6">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="func" class="form-control" placeholder="Función">
            <br>
            <input type="text" name="funcg" class="form-control" placeholder="Función g(x)">
            <br>
            <input type="number" name="x0" class="form-control" placeholder="a">
            <br>
            <input type="text" name="Tol" class="form-control" placeholder="Tolerancia">
            <br>
            <input type="number" name="niter" class="form-control" placeholder="Iteraciones">
            <br>
            <p class="subtitle text-gray-700 display-6">El tipo de error está dado por 0 para error absoluto y 1 para error relativo. Ingrese el que corresponda, al ingresar un valor invalido por defecto se tomará el error absoluto</p>
            <input type="number"  name="error" class="form-control" placeholder="Tipo de error">
            <br>
            <input type="submit" value="Ejecutar" class="btn btn-primary mt-3">
        </form>
    </div>

    <div class="container md-6">
    
        {% if puntoFijo_model %}
            <h2>Resultado</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Iteration</th>
                        <th>xi</th>
                        <th>f(xi)</th>
                        <th>Error</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ row.Iteration }}</td>
                        <td>{{ row.xi}}</td>
                        <td>{{ row.fxi }}</td>
                        <td>{{ row.Error }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row mt-4">
                <div class="col-md-6">
                    <b>{{ puntoFijo_model }}</b>
                    <br>
                    <b>{{ puntoFijo_model.resultado }}</b>
                </div>
                <div class="col-md 6">
                    <h5>Grafica de la funcion {{ puntoFijo_model.func }}</h5>
                    <img src="/media/grafica_puntoFijo.png" class="img-thumbnail rounded float-end" alt="Imagen">
                </div>
            </div>



    </div>

    {% endif %}
{% endblock %}

    

