<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regla Falsa</title>
</head>
<body>
    <h1>Regla Falsa</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="number" name="xi" placeholder="a">
        <input type="number" name="xs" placeholder="b">
        <input type="submit" value="Ejecutar">
    </form>

    {% block content %}
    <h1>Regla falsa</h1>

    {% if request.method == "POST" %}
        {% show_matlab_table result %}
    {% else %}
        <form action="" method="post">
            <input type="number" name="xi" placeholder="Xi">
            <input type="number" name="xs" placeholder="Xs">
            <input type="submit" value="Calcular">
        </form>
    {% endif %}
{% endblock %}
</body>
</html>

