{% extends 'home.html' %}

{% block content %}
{% block title %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
        
        .title-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffe5b4;
            border: 1px solid #ddd;
            border-radius: 15px;
            padding: 10px;
            margin-bottom: 20px;
        }

        .title {
            font-size: 32px;
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
            text-align: center;
        }

        .subtitle {
            font-size: 15px;
            text-align: center;
        }
    </style>
    <div class="title-container">
        <h1 class="title text-gray-900 display-4">Método de la secante</h1>
    </div>
{% endblock %}
    <div class="subtitle text-gray-700 display-6">
        El método numérico de la secante es un método iterativo que se utiliza para encontrar las raíces de una función. El método comienza con dos puntos iniciales, a y b, y luego calcula el punto medio de la secante que pasa por estos dos puntos. Este punto medio se utiliza como el nuevo punto inicial para la siguiente iteración. El proceso se repite hasta que se alcanza la raíz deseada.Recuerda usar la sintaxis de matlab para rellenar los campos. </div>
    <br>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="func" class="form-control" placeholder="Función">
        <br>
        <input type="number" name="x0" class="form-control" placeholder="a">
        <br>
        <input type="number" name="x1" class="form-control" placeholder="b">
        <br>
        <input type="text" name="Tol" class="form-control" placeholder="Tolerancia">
        <br>
        <input type="number" name="niter" class="form-control" placeholder="Iteraciones">
        <br>
        <input type="submit" value="Ejecutar" class="btn btn-primary mt-3">
    </form>
    {% if secante_model %}
    <h2>Resultado</h2>
    <br>
    <img src="../../grafsecante.png" alt="Imagen">
    {% endif %}
{% endblock %}

    

