{% load static %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introducir Matriz</title>
    <!-- Incluir Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        table {
            border-collapse: collapse;
            margin: 20px;
        }

        td, th {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        input {
            width: 40px;
            text-align: center;
        }
    </style>
    <!-- Incluir jQuery y Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
            <a href="{% url 'home' %}" class="navbar-brand">Calculadora de métodos numéricos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Módulo #1
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'biseccion' %}">Bisección</a></li>
                    <li><a class="dropdown-item" href="{% url 'rf' %}">Regla Falsa</a></li>
                    <li><a class="dropdown-item" href="{% url 'pf' %}">Punto Fijo</a></li>
                    <li><a class="dropdown-item" href="{% url 'newton1' %}">Newton</a></li>
                    <li><a class="dropdown-item" href="{% url 'secante' %}">Secante</a></li>
                    <li><a class="dropdown-item" href="{% url 'rm' %}">Raices Multiples</a></li>
                    </ul>
                    <li class="nav-item dropdown d-inline-block">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Módulo #2
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/modulo1">Jacobi</a></li>
                    <li><a class="dropdown-item" href="#">Gauss-Seidel</a></li>
                    <li><a class="dropdown-item" href="/modulo3">SOR</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown d-inline-block">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Módulo #3
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/modulo1">Vandermonde</a></li>
                    <li><a class="dropdown-item" href="/modulo2">Newton</a></li>
                    <li><a class="dropdown-item" href="/modulo3">Lagrange</a></li>
                    <li><a class="dropdown-item" href="/modulo3">Lineal</a></li>
                    <li><a class="dropdown-item" href="/modulo3">Cubico</a></li>
                    </ul>
                </li>
                </ul>
            </div>
            </div>
        </nav>


    <div class="container mt-4">
        <h2 class="text-center">Metodo Gauss-Seidel</h2>

        <!-- Formulario para definir el tamaño de la matriz -->
        <form id="tamanioForm" class="form-inline mb-3">
            <div class="form-group mr-2">
                <label for="filas" class="mr-2">Filas:</label>
                <input type="number" id="filas" name="filas" min="1" class="form-control" required>
            </div>
            <div class="form-group mr-2">
                <label for="columnas" class="mr-2">Columnas:</label>
                <input type="number" id="columnas" name="columnas" min="1" class="form-control" required>
            </div>
            <button type="button" onclick="generarMatrizA();  generarMatrizb(); generarMatrizx0()" class="btn btn-primary">Generar Matriz</button>
        </form>
    
        <div class="row">
            <div class="col-md-4">
                <table id="matrizInput" class="table table-bordered">
                    <!-- La tabla se generará dinámicamente con JavaScript -->
                </table>
            </div>
            <div class="col-md-4">
    
                <table id="matrizInputB" class="table table-bordered">
                    <!-- La tabla se generará dinámicamente con JavaScript -->
                </table>
            </div>
    
            <div class="col-md-4">
                <table id="matrizInputx0" class="table table-bordered">
                    <!-- La tabla se generará dinámicamente con JavaScript -->
                </table>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="tolerancia">Tolerancia:</label>
                <input type="number" id="tolerancia" name="Tolerancia" class="form-control" placeholder="Tol">
            </div>
            <div class="form-group col-md-6">
                <label for="iteraciones"># de Iteraciones:</label>
                <input type="number" id="niter" name="Niter" class="form-control" placeholder="Niter">
            </div>
        </div>
    
        <button onclick='guardarMatrices();' class='btn btn-success'>Ejecutar Metodo</button>

        <h5>{{ prueba }}</h5>
    
        
        <h3> Resultado Tabla  </h3>

        <table class="table table-bordered" id="tablaDatos">
            <thead>
                <tr>
                    <tr id="encabezado"></tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <p><strong>El radio espectral de la matriz de transicion es: </strong> <span id="radio"></span></p>

        
    
        <script src="{% static 'js/gs.js' %}"></script>

    </div>

</body>

</html>
